<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GoldbeterKoshland -->
      <package
            uri="platform:/resource/GoldbeterKoshland/model/GoldbeterKoshland"
            class="GoldbeterKoshland.GoldbeterKoshlandPackage"
            genModel="model/GoldbeterKoshland.genmodel"/>
   </extension>

</plugin>
