<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gkmodel -->
      <package
            uri="platform:/resource/org.simsg.applications.gkmodel/model/gkmodel"
            class="org.simsg.applications.gkmodel.GkmodelPackage"
            genModel="model/gkmodel.genmodel"/>
   </extension>

</plugin>
