<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Voter2GroupVoters -->
      <package
            uri="platform:/resource/Voter2GroupVoters/model/Voter2GroupVoters.ecore"
            class="Voter2GroupVoters.Voter2GroupVotersPackage"
            genModel="model/Voter2GroupVoters.genmodel"/>
   </extension>

</plugin>
